<style>
    .cat-name h2{
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cat-name{
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
    .cat-desc{
        border: 2px solid rgb(62, 210, 230);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px;
        margin: 20px;
        font-weight: bold;
    }
</style>

{% extends 'base.html' %}

{% block title %} {{cat}} {% endblock %}

{% block content %}


<div class="cat-name">

        <h2>{{cat.title}}</h2>

</div>
<div class="container-custom">

    
    <div class="img-container">
        <img src="/media/{{cat.image}}" class="responsive-img" style="max-height: 450px;width:100%; object-fit:cover">
    </div>
    


    <div class="cat-desc">
        {{cat.description}}
    </div>


    <div class="list-group" style="margin: 30px 0 30px 5px;">

        {% for p in posts %}



        <a href="/blog/{{p.url}}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{p.title}}</h5>
                <small class="text-muted">{{p.Date_of_blog}}</small>
            </div>
        </a>


        {% empty %}
<center>

    <h3>No post in this category</h3>
</center>

        {% endfor %}
    </div>


</div>

{%endblock%}