
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1>MyBlog</h1>
                <p class="text-justify">Welcome to our technology blog! Here, we aim to provide you with the latest news <br> and insights on new technology and technical topics. Our team of experts is dedicated <br> to delivering high-quality, informative content to keep you up to date with the rapidly <br> changing world of technology. Whether you're a tech enthusiast or a professional in <br> the industry, we have something for everyone. Subscribe to our blog and stay connected <br> with the ever-evolving world of technology. Let's explore the wonders of technology together!</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    {% for cat in cats %}
                    <li><a href="/category/{{cat.url}}" style="text-decoration: none;">{{cat.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Social Media</h6>
                <ul class="footer-links">
                    <li><a href="https://www.linkedin.com/in/vivekdevkar123/" style="text-decoration: none;" target="_blank">Linkdin</a></li>
                    <li><a href="https://github.com/vivekdevkar123" style="text-decoration: none;" target="_blank">GitHub</a></li>
                    <li><a href="mailto:mrvivekdevkar123@gmail.com" style="text-decoration: none;" target="_blank">Email</a></li>
                    <li><a href="https://www.instagram.com/vivekdevkar123/" style="text-decoration: none;" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr style="height:2px;border-width:0;">
    <div class="footer-copyright">
        <div class="container">
            &copy; 2022 Copyright | All rights reserved.
        </div>
    </div>
</footer>
