<style>
    nav ul a:hover {
        color: white;
    }
</style>


<ul id="dropdown1" class="dropdown-content">

    {% for cat in cats %}

    <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

    {% endfor%}
</ul>
<nav class="bg-primary">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">MyBlog</a>
            <ul class="right hide-on-med-and-down">
                <li class="title"><a href="/blogs">Blogs</a></li>

                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">CATEGORY<i
                            class="material-icons right">arrow_drop_down</i></a></li>

                <li><a>Hello, {{request.user}}</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </div>
    </div>
</nav>