<style>
    .read-about {
        width: 100%;
        height: 30px;
        background-color: rgb(165, 221, 223);
        font-size: 19px;
        text-align: center;
    }

    .read-separate {
        width: 100%;
        height: 5px;
        background-color: rgb(165, 221, 223);
        font-size: 19px;
        text-align: center;
    }
</style>


{% extends 'base.html' %}

{% block title %} this is home page {% endblock %}

{% block content %}

<div class="container-custom">

    <div class="owl-carousel">
        {% for cat in cats %}

        <div class="card" style="margin-left: 10px;">

            <div class="img-container">

                <img src="/media/{{cat.image}}" class="responsive-img center-align" style="height: 300;width: 100%;">

            </div>
            <div class="card-content">
                <div class="card-title">
                    {{cat.title}}
                </div>
                <p class="truncate">{{cat.description}}</p>
                <div class="container mt20 center-align">
                    <a href="/category/{{cat.url}}" class="btn bg-primary">VIEW</a>
                </div>
            </div>

        </div>

        {% endfor %}
    </div>

</div>


<div class="read-about">
    <p>People also read about this</p>
</div>


<div class="container">

    <div class="row">

        <div class="col s12 ">


            {%for p in posts %}
            {% if forloop.counter < 4 %} <div class="row">

                <div class="col s12 m8">



                    <div class="col s12 m4">

                        <img src="/media/{{p.image}}" class="responsive-img right" style="margin-top:50px;">

                    </div>
                    {{p.content |truncatewords:40 | safe}}
                    <div class="mt20">
                        <a href="/blog/{{p.url}}" class="btn  bg-primary right ">Read More..</a>
                    </div>
                </div>

        </div>
        <div class="read-separate">

        </div>
        {% endif %}

        {%endfor %}


    </div>


</div>

</div>

{% endblock %}