{% load static %}
<style>
    * {
        box-sizing: border-box;
    }



    body {
        background: #f6f5f7;
        background: url("{% static '/img/background.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        backdrop-filter: blur(8px);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 90vh;
        /* height: max-content; */
        margin: -20px 0 50px;
    }

    .form {

        background-color: #9facad94;
        width: 900px;
        height: 600px;
        margin: 186px auto 50px auto;
        padding: 30px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 10px -3px #333;
        text-align: center;
    }

    input {
        border-radius: 100px;
        padding: 10px 15px;
        width: 50%;
        border: 1px solid #D9D9D9;
        outline: none;
        display: block;
        margin: 20px auto 20px auto;
    }

    button {
        border-radius: 100px;
        border: none;
        background: #477091;
        width: 50%;
        padding: 10px;
        color: #FFFFFF;
        margin-top: 25px;
        box-shadow: 0 2px 10px -3px #719BE6;
        display: block;
        margin: 55px auto 10px auto;
    }

    a {
        text-align: center;
        margin-top: 30px;
        color: #719BE6;
        text-decoration: none;
        padding: 5px;
        display: inline-block;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        font-weight: bold;
        font-size: 35px;
    }
</style>




<div class="form">

    <h1>Sign up</h1>

    <div class="social-container">
        <a href="#" class="social"><img src="{% static '/img/signup.png' %}" style="width: 162px;"></a>
    </div>

    <input type="email" name="email" placeholder="Email" />

    <input type="password" name="Password" placeholder="Password" />

    <input type="password" name="Password" placeholder="conform password" />

    <button>Create account</button>


    <a href="/login" style="color: white;">already have an account account</a>

</div>